@{
    ViewBag.Title = "项目新增";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>项目新增</h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index","Home")"><i class="fa fa-home"></i> 主页</a></li>
        <li><a href="@Url.Action("PdProjectList","PdProject")"><i class="fa fa-bar-chart"></i> 项目管理</a></li>
    </ol>
</section>
<!-- Main content -->
<section class="content" id="section-content">
    <div class="row">
        <div class="col-md-12">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#profile" data-toggle="tab" aria-expanded="true">基本信息</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="profile">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="Name" class="col-sm-2 control-label">名称</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="Name" id="Name" v-model="dataItem.Name" required maxlength="120" placeholder="名称">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="VersionType" class="col-sm-2 control-label">版本控制类型[Git/SVN]</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="VersionType" id="VersionType" v-model="dataItem.VersionType" required maxlength="50" placeholder="版本控制类型[Git/SVN]">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="VersionUrl" class="col-sm-2 control-label">版本管理地址</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="VersionUrl" id="VersionUrl" v-model="dataItem.VersionUrl" required maxlength="512" placeholder="版本管理地址">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="GitBranch" class="col-sm-2 control-label">Git分支</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="GitBranch" id="GitBranch" v-model="dataItem.GitBranch" required maxlength="512" placeholder="Git分支">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="GitBinPath" class="col-sm-2 control-label">Git程序路径</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="GitBinPath" id="GitBinPath" v-model="dataItem.GitBinPath" required maxlength="512" placeholder="Git程序路径">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="SourcePath" class="col-sm-2 control-label">源代码路径</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="SourcePath" id="SourcePath" v-model="dataItem.SourcePath" required maxlength="200" placeholder="源代码路径">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="MSBuildPath" class="col-sm-2 control-label">打包程序路径</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="MSBuildPath" id="MSBuildPath" v-model="dataItem.MSBuildPath" required maxlength="200" placeholder="打包程序路径">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="ProjectFile" class="col-sm-2 control-label">打包命令文件路径</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="ProjectFile" id="ProjectFile" v-model="dataItem.ProjectFile" required maxlength="200" placeholder="打包命令文件路径">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="notifyEmails" class="col-sm-2 control-label">通知邮箱列表</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="notifyEmails" id="notifyEmails" v-model="dataItem.notifyEmails" required maxlength="512" placeholder="通知邮箱列表">
                                </div>
                            </div>
                            <input type="hidden" name="token" value="5cbd303f221a626ce0f404cec31b4ea4">
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="button" class="btn btn-default" v-on:click="submit()">保存</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- /.nav-tabs-custom -->
        </div>
    </div>
</section>
<script>
        var vm = new Vue({
            el: "#section-content",
            data: {
                listJumpUrl: "@Url.Action("ProjectList", "Project")",
                addPostUrl: "@Url.Action("PdProjectAdd", "Project")",
                dataItem: {},
            },
            created: function () {
            },
            methods: {
                submit: function () {
                    var _self = this;
                    axios.post(this.addPostUrl, this.dataItem)
                     .then(function (response) {
                         if (response.status == 200) {
                             alert(response.data.msg);
                             if (response.data.code == 200) {
                                 window.location.href = _self.listJumpUrl;
                             }
                         }
                     })
                     .catch(function (error) {
                         console.log(error);
                     });
                },
            }
        });
</script>

